@model Telcel.R9.Estructura.Puesto
@{
    ViewBag.Title = "GetAll";
}

<h2>GetAll</h2>

<h2>GetAll</h2>
<div class="container">
    <div class="row">
        <div style="float:right; margin-bottom:1rem;">
            @Html.ActionLink("+", "Form", "Producto", htmlAttributes: new { @class = "btn btn-success" })
        </div>

        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <td>Editar</td>
                    <td class="hidden">PuestoId</td>
                    <td>Descripcion</td>
                    <td>Eliminar</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Telcel.R9.Estructura.Puesto puesto in Model.Puestos)
                {
                    <tr>
                        <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Producto", new { PuestoId = puesto.PuestoId})"></a></td>
                        <td class="hidden">@puesto.PuestoId</td>
                        <td>@puesto.Descripcion</td>
                       

                        <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Producto", new { PuestoId= puesto.PuestoId})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');" ;></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
